[Desktop Entry]
Type=Application
Name=Cinnamon Settings Daemon Background Helper
Comment=Sets the user background in AccountsService on Cinnamon
Exec=csd-background-helper
OnlyShowIn=X-Cinnamon;
X-Cinnamon-Autostart-enabled=true

